{{ define "html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .title }}</title>
        <meta name="description" content="{{ .description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style/app.css">
        <link rel="icon" href="/static/images/favicon.svg" type="image/svg+xml">
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    </head>
    <body>
        <main class="w-dvw h-dvh" id="main-content">
            {{ template "header" . }}
            {{ template "content" . }}
        </main>
    </body>
</html>
{{ end }}